{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">
      <!-- Single Welcome Slide -->
      <div class="welcome-welcome-slide bg-img bg-gradient-overlay jarallax">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <!-- Welcome Text -->
              <div class="welcome-text text-center">
                <h2 >Finance App</h2>
                <p >Navigate to pages:</p>
                <div class="welcome-btn-group">
                  <a href="{% url 'portfolio' %}" class="btn dento-btn mx-2" >Portfolio</a>
                  <a href="{% url 'budget' %}" class="btn dento-btn mx-2" >Budget</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      
    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->
{% endblock content %}